.header__links__container {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.header__links__container a {
	text-decoration: none;
	background-color: var(--main-text-gray);
	color: var(--main-light-gray);
	padding: 1em 3em;
}
.header__links__container a:hover {
	transition: 0.3s ease-in-out;
	background-color: var(--main-theme);
	color: var(--main-dark-gray);
}
