.header__links__container {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
.header__links__container a {
    background-color: var(--main-text-gray);
    color: var(--main-light-gray);
    padding: 1em 3em;
    text-decoration: none;
}
.header__links__container a:hover {
    background-color: var(--main-theme);
    color: var(--main-dark-gray);
    transition: 0.3s ease-in-out;
}

@media (max-width: 900px) {
    .header__links__container {
        display: none;
    }
}
