.features__container {
    background-color: var(--main-dark-gray);
    display: flex;
    height: 40%;
    justify-content: center;
    padding: 0 10% 3%;

    .features__feature__dot {
        background-color: var(--main-light-gray);
        border-radius: 50%;
        display: inline-block;
        height: 150px;
        position: relative;
        width: 150px;
    }

    .features__feature {
        color: var(--main-light-gray);
        font-size: 1.1em;
        margin: -75px 5% 0;
        text-align: center;
        width: 20%;
    }
    .features__feature__title {
        color: var(--main-theme);
        font-size: 1.4em;
        margin: 15px 0 0 0;
    }
}

/* skills */
.skills__section {
    margin: 5% 0;
    text-align: center;
}

.skills__section__title {
    color: var(--main-theme);
    font-size: 2.5em;
}

.skills_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5% 20%;
}

.skills__skill-unique__container {
    display: flex;
    font-size: 1.2em;
}

.skills__skill-unique__container:hover {
    box-shadow: 6px 5px 17px -3px rgba(0, 0, 0, 0.57);
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-box-shadow: 6px 5px 17px -3px rgba(0, 0, 0, 0.57);
}

.skills__skill-unique__title {
    background-color: var(--main-text-gray);
    color: var(--main-light-gray);
    padding: 0.5em;
    width: 20%;
}

.skills__skill-unique__percent {
    color: var(--custom-text-light-gray);
    padding: 0.5em 1em 0.5em 0;
    text-align: right;
    width: 80%;
}

.bg-80 {
    background: linear-gradient(
        90deg,
        var(--main-theme) 80%,
        var(--main-light-gray) 20%
    );
}

.bg-70 {
    background: linear-gradient(
        90deg,
        var(--main-theme) 70%,
        var(--main-light-gray) 30%
    );
}

.bg-60 {
    background: linear-gradient(
        90deg,
        var(--main-theme) 60%,
        var(--main-light-gray) 40%
    );
}

.bg-50 {
    background: linear-gradient(
        90deg,
        var(--main-theme) 50%,
        var(--main-light-gray) 50%
    );
}
