#svg {
    background-color: var(--main-dark-gray);
    height: 30rem;
    width: 100%;
}
#svgLines {
    height: 100%;
    width: 100%;
}

.dots {
    animation: fadein 1.5s ease;
    fill: var(--main-theme);
}

.line {
    animation: fadein 2s ease;
    stroke: rgba(235, 235, 235, 0.1);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
