// /* My portfolio section */
.portfolio__section {
  align-items: center;
  background-color: var(--main-theme);
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
}

.portfolio__title {
  font-size: 2.5em;
}

.portfolio__projects__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 5%;
  row-gap: 1em;
}

.project__container {
  align-items: center;
  background-color: var(--main-light-gray);
  border: 8px var(--main-white) solid;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: 33%;
  .project__description__tag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .project__container {
    width: 49%;
  }
}

@media (max-width: 426px) {
  .project__container {
    width: 100%;
  }
}

.project__image {
  border-bottom: 5px var(--main-white) solid;
  width: 100%;
}

.project__description__text {
  padding: 2%;
  // width: 15rem;
}

.project__description__tech-stack {
  padding: 2%;
}

.project--final {
  border: 8px var(--main-dark-gray) solid;
}

.project__image--final {
  border-bottom: 5px var(--main-dark-gray) solid;
}

.project__container:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.find__more {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.5rem;
  .code {
    color: var(--main-theme);
    border: 0;
    font-size: 2.5rem;
    text-decoration: none;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    &:hover,
    &:focus {
      color: var(--secondary-bg);
    }
  }
}
